body {
  margin: 0;

  font-family: Arial;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  background-color: blue;
  color: aliceblue;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 33%;

}

.main {
  background-color: #d836c8;
  padding: 20px;
  float: left;
  width: 33%;

}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 33%;


}

.responsive {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 767px) {

  .left,
  .main,
  .right {
    width: 100%;

  }

}

@media only screen and (min-width: 768px) {

  .left,
  .main,
  .right {
    width: 33%;

  }

}


.Container {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: block;


}



nav {
  background-color: rgba(255, 0, 247, 0.87);
  color: aliceblue;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

button {
  background-color: rgb(73, 68, 229);

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}

button :link {
  color: aliceblue;
}

button :visited {
  color: aliceblue;
}

button :hover {
  background-color: rgb(238, 9, 223);

}

.explanation_div {
  position: absolute;
  height: auto;
  width: 20vw;
  padding: 2em;
  display: block;
  z-index: 2;
  background-color: rgb(16, 45, 45);
}

.explanation_div a {
  color: antiquewhite;
}

.RTHP_div {
  position: absolute;
  left: 200px;
  top: 60px;
  height: auto;
  width: 20vw;
  padding: 2em;
  display: block;
  z-index: 3;
  background-color: rgb(240, 21, 68);
}

.score_div {
  position: absolute;
  left: 10px;
  height: auto;
  width: 5vw;
  padding: 2em;
  display: block;
  z-index: 2;
  background-color: transparent;
  text-align: center;
  color: white;
}

.score_div a {
  color: antiquewhite;
}